doctype html
html(lang='en')
    include ./includes/head.pug
    body
      header This page is for you. Bookmark it so you can return to it later.
        span(id='hide-button') Hide
      h1(class='page-title') What was I working on?
      div(class='container')

        h2(id='task-name')= task.name
        textarea(id='task-name-editor')= task.name

        h3 State
        p(id='state')= task.state
        textarea(id='state-editor' class='small-editor')= task.state

        h3 Next steps
        p(id='next-steps')= task.nextSteps
        textarea(id='next-steps-editor' class='small-editor')= task.nextSteps

        script(src='/static/script.js')
      include ./includes/footer.pug
